{% extends "base.html" %} {% block title %} Changed {% endblock %}

{% block style %}
<style>
    .layout {
        display: grid;
        grid-template-columns: 275px auto 350px;
        margin: 0;
        max-width: 1200px;
    }
    .layout__right-sidebar {
        position: fixed;
        width: 350px;
    }
    .layout__main{
        width: 100%;
        margin-left: 25%;
    }
    .layout__left-sidebar {
        width: 350px;
        height: 100%;
        padding: 20px;
        align-items: center;
    }
    .layout__leftcontainer{
        background-color: #657786;
        width: 350px;
        height: 1000px;
    }
    .layout__rightcontainer{
        margin-left: 50%;
        width: 410px;
    }

    .filter-item{
        font-size: 16px;
        color: #0F141A;
        display: flex;
        align-items: center;
        padding: 10px;
        padding-left: 20px;
    }
    .filter-item:hover {
        background: rgba(29, 161, 242, 0.1);
        color: #1da0f2;
        border-radius: 20px;
        cursor: pointer;
    }

    .user-post{
        display: flex;
        border-bottom: 1px solid #e6ecf0;
        margin-bottom: 2px;
        padding: 10px 15px;
    }
    .user-post:hover {
        background: rgba(0, 0, 0, 0.03);
        cursor: pointer;
    }
    .user-post__profile-logo{
        width: 49px;
        height: 49px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .user-post__header{
        display: flex;
    }
    .user-post__user-name {
        font-size: 15px;
        font-weight: 700;
        color: #14171a;
        margin-right: 5px;
    }
    .user-post-slug {
        color: #5b7083;
        font-size: 15px;
    }
    .user-post__publish-time {
        margin-left: 5px;
        color: #657786;
    }
    .user-post__image {
        width: 100%;
        border-radius: 15px;
        margin-top: 10px;
    }
    .hood{
        width: 275px;
    }
    .hood__image{
        width: 200px;
        height: 200px;
        border-radius: 10%;
        
    }
    .hood__content{
        padding-top: 20px;
    }
</style>

{% endblock %}
{% block home %}
<!--<h1>This is the home page</h1>-->
<div class="layout">
    <div class="layout__leftcontainer">
        <div class="layout__left-sidebar">
            <div class="hood">
                <div>
                    Currently at:
                </div>
                <img class="hood__image" src="..\static\img\dumbo.png">
                <div class="hood__content">
                    This is some neighborhood in NYC. very cool very cool Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </div>
            </div>
            
        </div>
    </div>
    
    
    <div class="layout__main">
        <div class="user-post">
            <img class="user-post__profile-logo" src="..\static\img\profile-icon.png">
            <div class="user-post__main">
                <div class="user-post__header">
                    <div class="user-post__user-name">
                        Author Name
                    </div>
                    <div class="user-post__slug">
                        @author_name
                    </div>
                    <div class="user-post__publish-time">
                        4 hrs
                    </div>
                </div>
                <div class="user-post__content"> 
                    grah grah
                </div>
            </div>
        </div>
        <div class="user-post">
            <img class="user-post__profile-logo" src="..\static\img\profile-icon.png">
            <div class="user-post__main">
                <div class="user-post__header">
                    <div class="user-post__user-name">
                        Author Name
                    </div>
                    <div class="user-post__slug">
                        @author_name
                    </div>
                    <div class="user-post__publish-time">
                        4 hrs
                    </div>
                </div>
                <div class="user-post__content"> 
                    grah grah
                </div>
            </div>
        </div>
        <div class="user-post">
            <img class="user-post__profile-logo" src="..\static\img\profile-icon.png">
            <div class="user-post__main">
                <div class="user-post__header">
                    <div class="user-post__user-name">
                        Author Name
                    </div>
                    <div class="user-post__slug">
                        @author_name
                    </div>
                    <div class="user-post__publish-time">
                        4 hrs
                    </div>
                </div>
                <div class="user-post__content"> 
                    grah grah
                </div>
            </div>
        </div>
        <div class="user-post">
            <img class="user-post__profile-logo" src="..\static\img\profile-icon.png">
            <div class="user-post__main">
                <div class="user-post__header">
                    <div class="user-post__user-name">
                        Author Name
                    </div>
                    <div class="user-post__slug">
                        @author_name
                    </div>
                    <div class="user-post__publish-time">
                        4 hrs
                    </div>
                </div>
                <div class="user-post__content"> 
                    grah grah
                </div>
            </div>
        </div>
        <div class="user-post">
            <img class="user-post__profile-logo" src="..\static\img\profile-icon.png">
            <div class="user-post__main">
                <div class="user-post__header">
                    <div class="user-post__user-name">
                        Author Name
                    </div>
                    <div class="user-post__slug">
                        @author_name
                    </div>
                    <div class="user-post__publish-time">
                        4 hrs
                    </div>
                </div>
                <div class="user-post__content"> 
                    grah grah
                </div>
            </div>
        </div>
    </div>

    <div class="layout__rightcontainer">
        <div class="layout__right-sidebar">
            <div style="padding: 10px;">
                Filter By:
            </div>
            <div class="filter-item"> 
                Reviews
            </div>
            <div class="filter-item">
                Date (toggle?)
            </div>
        </div>
    </div>
    

</div>

<!--<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <div class="w3-container" style="width:30%; padding-left:10px; background-color:blueviolet;">
        Left sidebar
    </div>
    <div class="w3-container" style="width:30%; margin:10px; background-color:white;">
        Main section
    </div>
    <div class="w3-container" style="width:30%; padding-left:10px; background-color:blueviolet; align-self: right;">
        Right Sidebar
    </div>
</div>
-->
{% endblock %}
