{% extends "base.html" %} {% block title %} Changed {% endblock %}

{% block style %}
<style>
    .layout {
        display: grid;
        grid-template-columns: 275px auto 350px;
        margin: 0;
        max-width: 1200px;
    }
    .layout__right-sidebar {
        width: 350px;
    }
    .layout__main{
        width: 100%;
        margin-left: 25%;
    }
    .layout__left-sidebar {
        width: 350px;
        height: 100%;
        padding: 20px;
        align-items: center;
    }
    .layout__leftcontainer{
        background-color: #A7A9AC;
        width: 400px;
        height: 1000px;
    }
    .layout__rightcontainer{
        background-color: #A7A9AC;
        margin-left: 50%;
        width: 410px;
    }

    .filter-item{
        font-size: 18px;
        color: #0F141A;
        display: flex;
        align-items: center;
        padding: 10px;
        padding-left: 20px;
    }
    .filter-item:hover {
        background: rgba(29, 161, 242, 0.1);
        color: #1da0f2;
        border-radius: 20px;
        cursor: pointer;
    }

    .user-post{
        display: flex;
        border-bottom: 1px solid #e6ecf0;
        margin-top: 20px;
        margin-bottom: 2px;
        padding: 10px 15px;
        border-radius: 10px;
    }
    .user-post:hover {
        background: rgba(0, 0, 0, 0.100);
        cursor: pointer;
    }
    .user-post__profile-logo{
        width: 49px;
        height: 49px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .user-post__header{
        display: flex;
    }
    .user-post__user-name {
        font-size: 15px;
        font-weight: 700;
        color: #14171a;
        margin-right: 5px;
    }
    .user-post-slug {
        color: #5b7083;
        font-size: 15px;
    }
    .user-post__publish-time {
        margin-left: 5px;
        color: #657786;
    }
    .user-post__image {
        width: 70%;
        border-radius: 15px;
        margin-top: 10px;
    }
    .hood{
        width: 275px;
        font-size: 19px;
    }
    .hood__image{
        width: 300px;
        height: 200px;
        border-radius: 10%;
        margin-top: 15px;
    }
    .hood__content{
        padding-top: 20px;
        width: 300px;
    }
</style>

{% endblock %}
{% block home %}
<!--<h1>This is the home page</h1>-->
<div class="layout">
    <div class="layout__leftcontainer">
        <div class="layout__left-sidebar">
            <div class="hood">
                <div>
                    Currently at: UES
                </div>
                <img class="hood__image" src="..\static\img\ues.jpg">
                <div class="hood__content">
                    This neighborhood is the Upper East Side in NYC. The UES is at the nexus of New York City's most iconic landmarks such as Central Park, Museum Mile, and some of the world's most famous hotels, including The Plaza and The Sherry-Netherland. Located in the Manhattan borough, it's well-known for its brownstone buildings and upscale high-rises.
                </div>
            </div>
            
        </div>
    </div>
    
    
    <div class="layout__main">
        <div class="user-post">
            <img class="user-post__profile-logo" src="..\static\img\willdafoe.png">
            <div class="user-post__main">
                <div class="user-post__header">
                    <div class="user-post__user-name">
                        Will
                    </div>
                    <div class="user-post__slug">
                        @ny_exclusive
                    </div>
                    <div class="user-post__publish-time">
                        2 hrs
                    </div>
                </div>
                <div class="user-post__content"> 
                    Are you a New York resident? Come visit the Museum of Modern of Art (MoMA) FOR FREE on the first Friday of every month from 4:00PM - 8:00PM
                </div>
                <img class="user-post__image" src="..\static\img\moma.jpg">
            </div>
        </div>
        <div class="user-post">
            <img class="user-post__profile-logo" src="..\static\img\thegoat.png">
            <div class="user-post__main">
                <div class="user-post__header">
                    <div class="user-post__user-name">
                        Ann
                    </div>
                    <div class="user-post__slug">
                        @hunter_hawk
                    </div>
                    <div class="user-post__publish-time">
                        4 hrs
                    </div>
                </div>
                <div class="user-post__content"> 
                    Hunter College is located on 68th street between Lexington and Park Avenue. With over 20,000 students, Hunter College offers more than 170 engaging academic programs to equip students with the expertise to thrive in their chosen careers. 
                </div>
                <img class="user-post__image" src="..\static\img\hunter.jpg">
            </div>
        </div>
        <div class="user-post">
            <img class="user-post__profile-logo" src="..\static\img\gopissgirl.png">
            <div class="user-post__main">
                <div class="user-post__header">
                    <div class="user-post__user-name">
                        Ashley
                    </div>
                    <div class="user-post__slug">
                        @hello_newyorkers
                    </div>
                    <div class="user-post__publish-time">
                        4 hrs
                    </div>
                </div>
                <div class="user-post__content"> 
                    As a Gossip Girl fan, you must visit the Metropolitan Museum. Just next to Central Park, the MET steps are the most important location in all of the series. If you wish to take a photo to commemorate your Gossip Girl lifestyle, this is where it will be.
                </div>
            </div>
        </div>
        <div class="user-post">
            <img class="user-post__profile-logo" src="..\static\img\kim_lip.png">
            <div class="user-post__main">
                <div class="user-post__header">
                    <div class="user-post__user-name">
                        Kim
                    </div>
                    <div class="user-post__slug">
                        @evil_kim_lip
                    </div>
                    <div class="user-post__publish-time">
                        8 hrs
                    </div>
                </div>
                <div class="user-post__content"> 
                    My favorite store in the UES is one on 62nd street between 1st and 2nd.
                    grah grah boom
                </div>
            </div>
        </div>
    </div>

    <div class="layout__rightcontainer">
        <div class="layout__right-sidebar">
            <div style="padding: 10px; font-size: 18px;">
                Filter By:
            </div>
            <div class="filter-item"> 
                Reviews
            </div>
            <div class="filter-item">
                Name
            </div>
            <div class="filter-item">
                Date
            </div>
        </div>
    </div>
    

</div>

<!--<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <div class="w3-container" style="width:30%; padding-left:10px; background-color:blueviolet;">
        Left sidebar
    </div>
    <div class="w3-container" style="width:30%; margin:10px; background-color:white;">
        Main section
    </div>
    <div class="w3-container" style="width:30%; padding-left:10px; background-color:blueviolet; align-self: right;">
        Right Sidebar
    </div>
</div>
-->
{% endblock %}
