{% extends "base.html" %}
{% block title %}Landing{% endblock %} 

{% block style %}
<style>
  .bg-img { 
    background-image: url('../static/img/cityscape.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
  }
</style>
{% endblock %}

{% block content %}

  <!-- Logo -->
  <br>
  <div class="bg-img w3-display-container w3-opacity-min" id="home">
  <img src="../static/img/cityscape-snow.gif" width=100%>
      <div class="w3-display-middle" style="white-space:nowrap;">
        <img src="..\static\img\logo.png" width="400">
      </div>
  </div>

  <br>
  <p></p>
  
  <!-- Container (About Section) --> <!-- drop down for about sections? prob not idk-->
  <div class="w3-content w3-container w3-padding-64" id="about" >
    <h3 class="w3-center text-sect">ABOUT CONNECTNYC</h3>
    <p class="text-sect">
      Welcome to connectNYC, a website dedicated to connecting New Yorkers with their fellow community members. 
      This is a platform for users to share any and all information related to the various neighborhoods in NYC.
      Not only is this a great way for users to explore new neighborhoods, but this is also a place for neighbors to discuss important issues within their community.
      
    </p>
  </div>

  <div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center text-sect ">ABOUT THE TEAM</h3>
    <p class="text-sect">
      We are a team of four sophomore undergraduates Daedalus honors students studying Computer Science at CUNY Hunter College. 
      As native New Yorkers, we want to foster community between the diverse neighborhoods that make our city one of a kind.  
      That is why we created ConnectNYC: a platform for sharing the good and the bad in our city. 
      The first step to education is realization. We want to both highlight the beauty of New York City, while still keeping it real and addressing the socioeconomic disparities between our neighborhoods. 
      We hope to enlighten and inspire through this project.
    </p>
    <h3 class="w3-center">OUR TEAM</h3>
    <div class="w3-row w3-center">
      <div class="w3-quarter w3-section w3-section">
        <span class="w3-xlarge w3-hover-red">Daphne Luzong</span><br>
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge  w3-hover-yellow">Emily Klapper</span><br>
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge w3-hover-green">Lina Tran</span><br>
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge w3-hover-blue">Natalie Gallo</span><br>
      </div>

  </div>

  </div>


  {% block javascript %}
  <script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }
    
    // Change style of navbar on scroll
    window.onscroll = function() {myFunction()};
    function myFunction() {
        var navbar = document.getElementById("myNavbar");
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
        } else {
            navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
        }
    }
    
    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
    </script>
    {% endblock %}

{% endblock %}